* {
    scroll-behavior: smooth;
}

.container-fluid {
    padding: 10px 60px;
}

.custom-nav {
    /* font-size: small; */
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
}

.custom-nav ul.dropdown-menu {
    font-size: small;
}

.btn-sm {
    font-family: "poppins";
    /* font-weight: bold; */
    font-size: 11px;
}

.main-banner {
    padding-top: 75px;
    /* padding-bottom: 100px; */
    color: white;
}

.carousel-control-next,
.carousel-control-prev {
    font-size: 15px;
    width: 3%;
}

.feature-holder {
    text-align: center;
    margin-bottom: 25px;
}

.feature-holder h3 {
    font-size: 1.2em;
}

.feature-holder p {
    font-size: 14px;
}

section.features {
    padding-top: 35px;
    padding-bottom: 25px;
    background-color: whitesmoke;
}

section.online-courses,
.classroom-training,
.reviews-slider,
.page-content {
    padding-top: 35px;
    padding-bottom: 35px;
}

.online-courses-text-widget,
.classroom-courses-text-widget,
.review-text-widget {
    text-align: center;
}

.online-courses-text-widget h2,
.classroom-courses-text-widget h2,
.review-text-widget h2 {
    font-size: 1.3em;
}

.online-courses-text-widget p,
.classroom-courses-text-widget p,
.review-text-widget p {
    font-size: 14px;
}

.card.online-course-card,
.review-text-widget {
    text-align: center;
    margin-bottom: 25px;
}

.online-course-card .card-title {
    font-size: 1.2em;
    line-height: 25px;
}

.online-course-card .card-text {
    font-size: 14px;
}

.classroom-training,
.page-content {
    background-color: whitesmoke;
}

.reviews-slider {
    background-color: #ececec;
}

.sign-up-form-sidebar .card-title {
    font-size: 1.2em;
}

.sign-up-form-sidebar .card-text {
    font-size: 14px;
}

.course-list-item {
    color: black;
    font-size: small;
    padding-top: 20px;
}

#review-slider-content li .card {
    text-align: center;
}

#review-slider-content li .card img {
    width: 50px;
    margin-bottom: 15px;
}

#review-slider-content li .card .card-title {
    font-size: 18px;
    font-weight: bold;
}

#review-slider-content li .card .star {
    color: orange;
    font-size: 14px;
}

#review-slider-content li .card .card-text {
    font-size: 14px;
}

/* footer  */

aside.footer-widget h5 {
    font-size: 16px;
}

aside.footer-widget p {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

aside.footer-widget p a {
    text-decoration: none;
    font-size: 14px;
    color: #adadad;
    display: inline-block;
    margin-bottom: 5px;
}

.address h2 {
    font-size: 20px;
}

.address p {
    font-size: 14px;
}


footer a {
    text-decoration: none;
}

.copy {
    padding-bottom: 15px;
}

.img-fluid {
    /* height: 140px; */
    /* width: 100%; */
    /* object-fit: cover; */
}